<mat-card class="pokemon-item-card">
    <mat-card-header>
        <mat-card-title
        ><strong># {{ pokemon.id }}:</strong> {{ pokemon.name }}</mat-card-title
        >
        <mat-card-subtitle
        >{{ pokemon.types[0] }} | {{ pokemon.types[1] }}
        </mat-card-subtitle>
    </mat-card-header>
    <img
            [src]="pokemon.imageUrl"
            alt="Photo of a Pokemon"
            class="preview-image"
            mat-card-image
    />
    <mat-card-actions>
        <button [routerLink]="['/pokemon',pokemon.id ]" mat-button>See Details</button>
    </mat-card-actions>
</mat-card>
